.git
**/.git
**/node_modules
backend/vendor
backend/node_modules
backend/.env
backend/storage/logs/*
backend/storage/framework/cache/data/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*
docker/secrets/*.txt
*.md
!backend/README.md
